<?xml version="1.0" encoding="utf-8"?>
<!--
/**
 * This file is part of Mbiz_Catalog for Magento.
 *
 * @license MIT
 * @author Jacques Bodin-Hullin <j.bodinhullin@monsieurbiz.com> <@jacquesbh>
 * @category Mbiz
 * @package Mbiz_Catalog
 * @copyright Copyright (c) 2016 Monsieur Biz (https://monsieurbiz.com/)
 */
-->
<config>
    <modules>
        <Mbiz_Catalog>
            <version>0.1.0</version>
        </Mbiz_Catalog>
    </modules>
    <frontend>
        <events>
            <controller_action_layout_load_before>
                <observers>
                    <apply_layout_handle>
                        <class>mbiz_catalog/observer</class>
                        <method>applyLayoutHandle</method>
                    </apply_layout_handle>
                    <mbiz_ajax_add_ajax_handles>
                        <type>disabled</type>
                    </mbiz_ajax_add_ajax_handles>
                </observers>
            </controller_action_layout_load_before>
        </events>
    </frontend>
    <global>
        <models>
            <mbiz_catalog>
                <class>Mbiz_Catalog_Model</class>
            </mbiz_catalog>
        </models>
        <helpers>
            <mbiz_catalog>
                <class>Mbiz_Catalog_Helper</class>
            </mbiz_catalog>
        </helpers>
    </global>
</config>
